<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>E-Commerce - MDBootstrap</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Black+Han+Sans|Dokdo|Jua|Kirang+Haerang|Nanum+Pen+Script|Stylish|Sunflower:300|Noto+Sans+KR" rel="stylesheet">
    <link rel="stylesheet" href="/static/lib/fontawesome-pro/css/all.css">
    <link href="/static/lib/mdb/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/mdb/css/mdb.min.css" rel="stylesheet">
    <link href="/static/css/common/common.css" rel="stylesheet">
    <link href="/static/css/cart/cart.css" rel="stylesheet">
</head>

<body>
    <header></header>
    <div class="container mt-5 pt-3">
        <div class="container">
            <div class="mt-4 mb-3" style="width: 100px; font-size:20px; border-left: 5px solid #333; padding-left: 10px;">장바구니</div>
            <hr>
            <section class="section my-5 pb-5">
                <div class="table-responsive">
                    <table class="table product-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <strong>이미지</strong>
                                </th>
                                <th class="font-weight-bold">
                                    <strong>상품</strong>
                                </th>
                                <th class="font-weight-bold">
                                    <strong>옵션명</strong>
                                </th>
                                <th class="font-weight-bold">
                                    <strong>단가</strong>
                                </th>
                                <th class="font-weight-bold">
                                    <strong>배송비</strong>
                                </th>
                                <th class="font-weight-bold">
                                    <strong>수량</strong>
                                </th>
                                <th class="font-weight-bold">
                                    <strong>가격</strong>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="cart_tbody">
                        </tbody>
                    </table>
                    <hr>
                    <div style="font-size: 16px; float: right; margin-right: 40px;">
                        <span id="totalPrice"></span>
                    </div>
                </div>
                <div class="my-3" style="float: right; margin-right: 30px;">
                    <button type="button" id="purchase_btn" class="btn btn-sm deep-orange btn-rounded purchase-btn">구매하기
                        <i class="fa fa-angle-right right"></i>
                    </button>
                </div>
            </section>
        </div>
    </div>
    <input type="hidden" id="user_no" value="{{userNo}}">
    <input type="hidden" id="admin_yn" value="{{adminYn}}">
    <footer style="font-size: 13px;" class="page-footer text-center text-md-left stylish-color-dark pt-0"></footer>
    <script type="text/javascript" src="/static/lib/mdb/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/mdb.min.js"></script>
    <script type="text/javascript" src="/static/js/common/utils.js"></script>
    <script type="text/javascript" src="/static/js/component/header.js"></script>
    <script type="text/javascript" src="/static/js/component/footer.js"></script>
    <script type="text/javascript" src="/static/js/cart/cart.js"></script>
</body>

</html>
