<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>E-Commerce - MDBootstrap</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Black+Han+Sans|Dokdo|Jua|Kirang+Haerang|Nanum+Pen+Script|Stylish|Sunflower:300|Noto+Sans+KR" rel="stylesheet">
    <link rel="stylesheet" href="/static/lib/fontawesome-pro/css/all.css">
    <link href="/static/lib/mdb/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/mdb/css/mdb.min.css" rel="stylesheet">
    <link href="/static/css/common/common.css" rel="stylesheet">
    <link href="/static/css/cart/cart.css" rel="stylesheet">
</head>

<body style="background: #FAFAFA;">
    <header></header>
    <br>
    <div id="cart_list" class="mt-5" style="background: #FFFFFF;"></div>
    <div class="mt-3 mb-5" style="font-size: 16px; margin-right: 20px;">
        <div id="totalPrice"></div>
    </div>
    <hr>
    <div class="mt-3 text-center" style="margin-bottom: 15px;">
        <button type="button" id="purchase_btn" class="btn btn-sm deep-orange btn-rounded purchase-btn">구매하기<i class="fa fa-angle-right right"></i></button>
    </div>
    <input type="hidden" id="user_no" value="{{userNo}}">
    <input type="hidden" id="admin_yn" value="{{adminYn}}">
    <footer style="font-size: 13px;" class="page-footer text-center text-md-left stylish-color-dark pt-0"></footer>
    <script type="text/javascript" src="/static/lib/mdb/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/component/header-mobile.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/mdb.min.js"></script>
    <script type="text/javascript" src="/static/js/common/utils.js"></script>
    <script type="text/javascript" src="/static/js/common/properties.js"></script>
    <script type="text/javascript" src="/static/js/common/nav.js"></script>
    <script type="text/javascript" src="/static/js/component/footer.js"></script>
    <script type="text/javascript" src="/static/js/cart/cart-mobile.js"></script>
</body>

</html>
