<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>E-Commerce - MDBootstrap</title>
  <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Black+Han+Sans|Dokdo|Jua|Kirang+Haerang|Nanum+Pen+Script|Stylish|Sunflower:300|Noto+Sans+KR" rel="stylesheet">
  <link rel="stylesheet" href="/static/lib/fontawesome-pro/css/all.css">
  <link href="/static/lib/mdb/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/lib/mdb/css/mdb.min.css" rel="stylesheet">
  <link href="/static/css/cart/cart.css" rel="stylesheet">
</head>

<body class="cart-v1 hidden-sn white-skin animated">

  <header>

    <nav class="navbar fixed-top navbar-expand-lg  navbar-light scrolling-navbar white">
      <div class="container">
        <!-- SideNav slide-out button -->
        <a class="navbar-brand font-weight-bold" href="/">
          <strong>스토어닷컴</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" href="/cart?productId=1">
                <i class="fas fa-shopping-cart blue-text"></i>&nbsp;&nbsp;&nbsp;장바구니
              </a>
            </li>
            <li class="nav-item ml-1">
              <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" href="#">
                <i class="fas fa-clipboard-list blue-text"></i>&nbsp;&nbsp;&nbsp;주문내역
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" href="#">
                <i class="fa fa-user blue-text"></i>&nbsp;&nbsp;&nbsp;내정보
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container mt-5 pt-3">
    <div class="container text-center">
      <div class="mb-3 mt-5" style="width: 100px; font-size:20px; border-left: 5px solid #333; padding-left: 10px;">장바구니</div>
      <hr>
      <div style="padding: 10px; border: 1px solid #ccc;">
        <div style="background: #EAEAEA; margin-bottom: 10px;">상품</div>
        <img src="http://14.63.168.58:5005/static/data/shopping/한라봉.jpg" alt="" class="img-fluid z-depth-0 mb-2">
        <div style="font-weight: 700;">한라봉 10kg</div>
        <hr>
        <div style="background: #EAEAEA; margin-bottom: 10px;">단가</div>
        <div>18,000원</div>
        <hr>
        <div style="background: #EAEAEA; margin-bottom: 10px; ">수량</div>
        <div class="btn-group radio-group ml-2" data-toggle="buttons">
          <div class="d-inline-block text-center pb-2">
            <button class="btn btn-sm btn-info" style="width: 25px; height: 25px; padding: 5px;">-</button>
            <input style="position:relative; top: 2px;" type="number" id="1" value="1" min="1" max="2" />
            <button class="btn btn-sm btn-info" style="width: 25px; height: 25px; padding: 5px;">+</button>
          </div>
        </div>
        <hr>
        <div style="background: #EAEAEA; margin-bottom: 10px;">가격</div>
        <div>18,000원</div>
        <hr>
        <div>
          <button type="button" class="btn btn-primary btn-rounded purchase-btn">구매하기<i class="fa fa-angle-right right"></i></button>
          <button type="button" class="btn btn-danger btn-rounded purchase-btn">장바구니 삭제</button>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer text-center text-md-left stylish-color-dark pt-0">
  </footer>

  <div class="modal fade cart-modal" id="cart-modal-ex" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title font-weight-bold dark-grey-text" id="myModalLabel">Your cart</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Product name</th>
                <th>Price</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Product 1</td>
                <td>100$</td>
                <td>
                  <a>
                    <i class="fa fa-remove"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Product 2</td>
                <td>100$</td>
                <td>
                  <a>
                    <i class="fa fa-remove"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Product 3</td>
                <td>100$</td>
                <td>
                  <a>
                    <i class="fa fa-remove"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Product 4</td>
                <td>100$</td>
                <td>
                  <a>
                    <i class="fa fa-remove"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-primary btn-rounded btn-sm">Checkout</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-grey btn-rounded btn-sm" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/static/lib/mdb/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/static/lib/mdb/js/popper.min.js"></script>
  <script type="text/javascript" src="/static/lib/mdb/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/lib/mdb/js/mdb.min.js"></script>
  <script type="text/javascript" src="/static/js/cart/cart.js"></script>
</body>

</html>
