body {
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden;
}

.light-black {
    background: #333333;
}

#title_logo {
    margin-top: 5px;
    margin-bottom: 5px;
}

#title_logo:hover {
    cursor: pointer;
}

#logo_div {
    padding: 20px;
}

.top {
    margin-top: 57px;
}

.top-main-1 {
    background-image: url('/static/res/top_1.jpg');
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top-main-2 {
    background-image: url('/static/res/top_2.jpg');
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top-main-3 {
    background-image: url('/static/res/top_3.jpg');
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top-main-4 {
    background-image: url('/static/res/top_4.jpg');
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.top-main-5 {
    background-image: url('/static/res/top_5.jpg');
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.top-main-6 {
    background-image: url('/static/res/top_6.jpg');
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.top-main-7 {
    background-image: url('/static/res/top_7.jpg');
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.top-main-8 {
    background-image: url('/static/res/top_8.jpg');
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.top-main-9 {
    background-image: url('/static/res/top_9.jpg');
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top-main-10 {
    background-image: url('/static/res/top_10.jpg');
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top-main-11 {
    background-image: url('/static/res/top_11.jpg');
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.divide-vertical {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    color: #333;
}

.menu {
    background-color: #EAEAEA;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.menu-1 {
    display: inline-block;
}

.menu-1:hover {
    cursor: pointer;
}

.menu-2 {
    display: inline-block;
}

.menu-2:hover {
    cursor: pointer;
}

.menu-3 {
    display: inline-block;
}

.menu-3:hover {
    cursor: pointer;
}

.carousel-item:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.2);
}

.mask {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.2);
}

.card-outer {
    border: 1px solid #ccc;
}

.card-outer:hover {
    cursor: pointer;
}

.section-title {
    border-left: 5px solid #333;
    padding-left: 10px;
}

.logo-title {
    font-family: 'Sunflower', sans-serif;
}

.top-title {
    font-family: 'Sunflower', sans-serif;
}

.top-title-desc {
    font-family: 'Sunflower', sans-serif;
}

.all-product-detail-text3 {
    font-size: 13px;
}

.search-input {
    display: inline-block;
    width: 200px;
    outline: none;
    border-left: 3px solid #C92800;
    border-top: 3px solid #C92800;
    border-bottom: 3px solid #C92800;
    padding: 5px;
}

.search-icon-div {
    position: relative;
    left: -7px;
    top: -8px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #C92800;
}

.search-icon-div:hover {
    cursor: pointer;
}

.search-icon {
    position: relative;
    top: 9px;
    font-size: 20px;
    color: white;
    font-weight: 700;
}

.all-product-menu {
    height: 50px;
}

.product-item-active {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    margin-right: 5px;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    background: #333;
    color: #FFFFFF;
}

.product-item {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    margin-right: 5px;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    color: #333;
}

.product-item-active:hover {
    cursor: pointer;
}

.product-item:hover {
    cursor: pointer;
}

#introduction {
    padding: 50px;
}

#special_price {
    background: #F6F6F6;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0,0,0,0.2);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #000;
}

.swiper-button-prev {
    background-image: none;
    font-size: 26px;
    color: #333;
}

.swiper-button-next {
    background-image: none;
    font-size: 26px;
    color: #333;
}

.notice-title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.gallery-slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery-top {
    height: 600px;
    width: 100%;
}

.gallery-thumbs {
    height: 200px;
    box-sizing: border-box;
    padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
    height: 200px;
    opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

#image_desc {
    font-family: 'Gamja Flower', cursive;
    overflow-x: hidden;
}
