body {
    font-family: 'Noto Sans KR', sans-serif;
}

.light-black {
    background: #333333;
}

.menu {
    background: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.menu-1 {
    display: inline-block;
    margin-right: 10%;
}

.menu-1:hover {
    cursor: pointer;
}

.menu-2 {
    display: inline-block;
    margin-right: 10%;
}

.menu-2:hover {
    cursor: pointer;
}

.menu-3 {
    display: inline-block;
}

.menu-3:hover {
    cursor: pointer;
}

.carousel-item:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.2);
}

.mask {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.2);
}

.card-outer {
    border: 1px solid #ccc;
}

.card-outer:hover {
    border: 2px solid gray;
    cursor: pointer;
}

.section-title {
    border-left: 5px solid #333;
    padding-left: 10px;
}

.top-title {
    font-family: 'Sunflower', sans-serif;
}

.top-title-desc {
    font-family: 'Sunflower', sans-serif;
}

.all-product-detail-text3 {
    font-size: 13px;
}