body {
    font-family: 'Noto Sans KR', sans-serif;
    oveflow-x: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.product-top-title {
    height: 40px;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid gray;
    background: #333;
    color: #FFFFFF;
}

.qty-plus-btn, .qty-minus-btn {
    padding-top: 1px;
    width: 24px;
    height: 24px;
    display: inline-block;
    font-size: 13px;
    border: 1px solid gray;
    position:relative;
    top: 2px;
    color: #333;
}

.qty-plus-btn:hover, .qty-minus-btn:hover {
    cursor: pointer;
}