<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>상품정보</title>
    <link rel="stylesheet" href="/static/lib/fontawesome-pro/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Black+Han+Sans|Dokdo|Jua|Kirang+Haerang|Nanum+Pen+Script|Stylish|Sunflower:300|Noto+Sans+KR" rel="stylesheet">
    <link href="/static/lib/mdb/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/mdb/css/mdb.min.css" rel="stylesheet">
    <link href="/static/css/purchase/purchase.css" rel="stylesheet">
</head>

<body class="product-v2 hidden-sn white-skin animated">
    <header>
        <nav class="navbar fixed-top navbar-expand-lg  navbar-light scrolling-navbar white">
            <div class="container">
                <a class="navbar-brand font-weight-bold" href="/">
                    <strong>스토어닷컴</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" href="/cart?productId=1">
                                <i class="fas fa-shopping-cart blue-text"></i>&nbsp;&nbsp;&nbsp;장바구니
                            </a>
                        </li>
                        <li class="nav-item ml-1">
                            <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" href="#">
                                <i class="fas fa-clipboard-list blue-text"></i>&nbsp;&nbsp;&nbsp;주문내역
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" href="#">
                                <i class="fa fa-user blue-text"></i>&nbsp;&nbsp;&nbsp;내정보
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-5 pt-3">
            <div class="mb-3 mt-5" style="width: 100px; font-size:20px; border-left: 5px solid #333; padding-left: 10px;">주문결제</div>
            <hr>
            <div class="mt-3" style="width: 300px; font-size:16px; font-weight: 700;"><i class="fas fa-money-check-alt blue-text"></i>&nbsp;&nbsp;&nbsp;아래의 주문으로 결제하시겠습니까?</div>
            <hr>
            <div class="mt-3" id="order_list">
            </div>
            <hr>

            <div>주문자</div>
            <div>주문자 전화번호</div>
            <div>받는자</div>
            <div>받는자 전화번호</div>
            <div>받는자 주소</div>
            <div>예금주</div>
            <div>예금주</div>


            <div class="mb-3">
                <button type="button" class="btn deep-orange btn-rounded payment-btn">결제하기
                    <i class="fa fa-angle-right right"></i>
                </button>
            </div>
        <input id="items" type="hidden" value="{{items}}">
    </div>
    <script type="text/javascript" src="/static/lib/mdb/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/mdb.min.js"></script>
    <script type="text/javascript" src="/static/js/common/utils.js"></script>
    <script type="text/javascript" src="/static/js/purchase/purchase.js"></script>
</body>

</html>