<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>상품정보</title>
    <link rel="stylesheet" href="/static/lib/fontawesome-pro/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Black+Han+Sans|Dokdo|Jua|Kirang+Haerang|Nanum+Pen+Script|Stylish|Sunflower:300|Noto+Sans+KR" rel="stylesheet">
    <link href="/static/lib/mdb/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/mdb/css/mdb.min.css" rel="stylesheet">
    <link href="/static/css/common/common.css" rel="stylesheet">
    <link href="/static/css/purchase/purchase.css" rel="stylesheet">
</head>

<body class="product-v2 hidden-sn white-skin animated">
    <header>
        <nav class="top-nav navbar fixed-top navbar-expand-lg navbar-light white">
            <div class="container">
                <a class="logo-title navbar-brand font-weight-bold" href="/">
                    <strong>간드락닷컴</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item" style="margin-left: 0px;">
                            <a class="nav-link waves-effect waves-light" href="/cart">
                                <i class="far fa-shopping-cart"></i>&nbsp;&nbsp;장바구니
                            </a>
                        </li>
                        <li class="nav-item" style="margin-left: 0px;">
                            <a class="nav-link waves-effect waves-light" href="/user">
                                <i class="far fa-sign-in-alt"></i>&nbsp;&nbsp;로그인
                            </a>
                        </li>
                        <li class="nav-item" style="margin-left: 0px;">
                            <a class="nav-link waves-effect waves-light" href="#">
                                <i class="far fa-user"></i>&nbsp;&nbsp;마이페이지
                            </a>
                        </li>
                        <li class="nav-item" style="margin-left: 0px;">
                            <a class="admin-page nav-link waves-effect waves-light" href="/admin/product_manager">
                                <i class="fab fa-product-hunt"></i>&nbsp;&nbsp;상품관리
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-5 pt-3">
        <div style="width: 80%; margin: auto;">
            <div class="mb-3 mt-4" style="width: 100px; font-size:20px; border-left: 5px solid #333; padding-left: 10px;">주문결제</div>
            <hr>
            <div class="mb-4" style="width: 320px; font-size:17px; font-weight: 700;"><i class="fas fa-money-check-alt blue-text"></i>&nbsp;&nbsp;&nbsp;아래의 주문으로 결제하시겠습니까?</div>
            <div class="order-list pl-4" id="order_list">
            </div>
            <hr>
            <div class="order-info pl-4">
                <div style="font-size: 20px; font-weight: 700; color: gray;"><i class="far fa-info-square"></i>&nbsp;&nbsp;주문정보</div>
                <hr>
                <div>
                    <div class="mt-3 d-inline-block">
                        <div class="md-form">
                            <i class="far fa-user prefix" style="font-size: 25px;"></i>
                            <input type="text" class="form-control" id="order_person_nm" style="width: 200px;">
                            <label id="order_person_nm_label" for="order_person_nm">주문자</label>
                        </div>
                    </div>
                    <div class="mt-3 d-inline-block">
                        <div class="md-form">
                            <i class="fal fa-mobile-alt prefix" style="font-size: 25px;"></i>
                            <input type="text" min="0" class="form-control" id="order_telno" style="width: 200px;">
                            <label id="order_telno_label" for="order_telno">주문자 전화번호</label>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="mt-3 d-inline-block">
                        <div class="md-form">
                            <i class="fas fa-user prefix" style="font-size: 25px;"></i>
                            <input type="text" class="form-control" id="receive_person_nm"  style="width: 200px;">
                            <label id="receive_person_nm_label" for="receive_person_nm">받는자</label>
                        </div>
                    </div>
                    <div class="mt-3 d-inline-block">
                        <div class="md-form">
                            <i class="far fa-mobile-alt prefix" style="font-size: 25px;"></i>
                            <input type="text" class="form-control" id="receive_telno"  style="width: 200px;">
                            <label id="receive_telno_label" for="receive_telno">받는자 전화번호</label>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="mt-3 d-inline-block">
                        <div class="md-form">
                            <i class="far fa-address-book prefix" style="font-size: 25px;"></i>
                            <input type="text" class="form-control" id="receive_address"  style="width: 200px;">
                            <label id="receive_address_label" for="receive_address">받는자 주소</label>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <div id="order_remarks_label" class="mb-1" style="color: gray;">요청사항</div>
                    <textarea style="width: 80%; height: 100px; outline: none;" id="order_remarks"></textarea>
                </div>
            </div>
            <div>
                <div class="mt-3 mb-5">
                    <button type="button" class="btn deep-orange btn-rounded payment-btn">결제하기
                        <i class="fa fa-angle-right right"></i>
                    </button>
                </div>
            </div>
        </div>
        <input id="items" type="hidden" value="{{items}}">
        <input id="direct_item_no" type="hidden" value="{{itemNo}}">
        <input id="direct_image_path" type="hidden" value="{{imagePath}}">
        <input id="direct_item_nm_1" type="hidden" value="{{itemNm1}}">
        <input id="direct_item_qty" type="hidden" value="{{itemQty}}">
        <input id="direct_item_kg" type="hidden" value="{{itemKg}}">
        <input id="direct_item_price" type="hidden" value="{{itemPrice}}">
        <input id="direct_qty" type="hidden" value="{{qty}}">
        <input id="direct_item_price_num" type="hidden" value="{{itemPriceNum}}">
    </div>
    <script type="text/javascript" src="/static/lib/mdb/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/mdb.min.js"></script>
    <script type="text/javascript" src="/static/js/common/properties.js"></script>
    <script type="text/javascript" src="/static/js/common/utils.js"></script>
    <script type="text/javascript" src="/static/js/purchase/purchase.js"></script>
</body>

</html>