<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>주문완료</title>
    <link rel="stylesheet" href="/static/lib/fontawesome-pro/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Black+Han+Sans|Dokdo|Jua|Kirang+Haerang|Nanum+Pen+Script|Stylish|Sunflower:300|Noto+Sans+KR" rel="stylesheet">
    <link href="/static/lib/mdb/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/mdb/css/mdb.min.css" rel="stylesheet">
    <link href="/static/css/common/common.css" rel="stylesheet">
    <link href="/static/css/common/address.css" rel="stylesheet">
    <link href="/static/css/purchase/purchase_complete.css" rel="stylesheet">
</head>

<body>
    <header></header>
    <div class="container mt-5 pt-5 text-center">
        <div style="font-weight: 700;">
            주문이 완료되었습니다.
        </div>
        <div style="font-weight: 700;">
            아래의 계좌로 금액을 입금하세요.
        </div>
        <div class="mt-3">
            <span>농협: 352-0590-1078-73</span>
            <br>
            <span>예금주: 현병윤</span>
        </div>
        <div class="mt-3 mb-5 text-center">
            <button type="button" class="btn btn-sm deep-orange btn-rounded go-main">메인으로
                <i class="fa fa-angle-right right"></i>
            </button>
        </div>
    </div>
    <input type="hidden" id="user_no" value="{{userNo}}">
    <input type="hidden" id="admin_yn" value="{{adminYn}}">
    <footer style="font-size: 13px;" class="page-footer text-center text-md-left stylish-color-dark pt-0"></footer>
    <script type="text/javascript" src="/static/lib/mdb/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/mdb.min.js"></script>
    <script type="text/javascript" src="/static/js/common/properties.js"></script>
    <script type="text/javascript" src="/static/js/common/utils.js"></script>
    <script type="text/javascript" src="/static/js/common/address.js"></script>
    <script type="text/javascript" src="/static/js/component/header.js"></script>
    <script type="text/javascript" src="/static/js/component/footer.js"></script>
    <script type="text/javascript" src="/static/js/purchase/purchase_complete.js"></script>
</body>

</html>