body {
    font-family: 'Noto Sans KR', sans-serif;
}

#top {
    padding: 10px;
    background: #333;
}

.qty-btn {
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    position:relative;
    top: 4px;
    color: #333;
}

.qty-btn:hover {
    cursor: pointer;
}

.qty-plus-btn, .qty-minus-btn {
    padding-top: 1px;
    width: 24px;
    height: 24px;
    display: inline-block;
    font-size: 13px;
    border: 1px solid gray;
    position:relative;
    color: #333;
}

.qty-plus-btn:hover, .qty-minus-btn:hover {
    cursor: pointer;
}
