<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>주문내역</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Black+Han+Sans|Dokdo|Jua|Kirang+Haerang|Nanum+Pen+Script|Stylish|Sunflower:300|Noto+Sans+KR" rel="stylesheet">
    <link rel="stylesheet" href="/static/lib/fontawesome-pro/css/all.css">
    <link href="/static/lib/mdb/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/mdb/css/mdb.min.css" rel="stylesheet">
    <link href="/static/lib/datepicker/datepicker.css" rel="stylesheet">
    <link href="/static/css/common/common.css" rel="stylesheet">
    <link href="/static/css/admin/order_list/order_list.css" rel="stylesheet">
</head>

<body>
    <header></header>
    <div class="mt-5" style="width: 80%; margin: auto;">
        <div class="ml-3 mr-3">
            <div class="mt-5 d-inline-block" style="width: 100px; font-size: 20px; border-left: 5px solid #333; padding-left: 10px;">주문목록</div>
            <div class="mt-5  d-inline-block" style="float: right; margin-right: 40px;">
                <button type="button" id="export_excel" class="btn btn-sm deep-orange btn-rounded export-excel">엑셀다운
                </button>
                <button type="button" id="start_dlvr" class="btn btn-sm btn-secondary btn-rounded export-excel">배송시작
                </button>
            </div>
            <hr>
            <div class="row">
                <div class="mt-4 ml-3 mr-3" style="font-size: 15px; color: gray;">
                    주문일
                </div>
                <div class="col-md-2 mr-3">
                    <span style="font-size: 13px;">시작일</span>
                    <div class="md-form" style="margin-top: 5px;">
                        <i class="fal fa-calendar-alt prefix"></i><label for="startingDate"></label>
                        <input id="startingDate" data-toggle="datepicker" style="padding: 5px;" readonly>
                    </div>
                </div>
                <div class="col-md-2">
                    <span style="font-size: 13px;">종료일</span>
                    <div class="md-form" style="margin-top: 5px;">
                        <i class="fal fa-calendar-alt prefix"></i><label for="endingDate"></label>
                        <input id="endingDate" data-toggle="datepicker" style="padding: 5px;" readonly>
                    </div>
                </div>
                <div class="col-md-2 ml-2" style="margin-top: 35px;">
                    <a id="search" class="common-button-1">조회</a>
                </div>
            </div>
            <hr>
            <section class="section mt-3 mb-5 pb-5">
                <table id="order_list" class="table table-bordered text-center">
                    <thead>
                    <tr>
                        <th>선택</th>
                        <th>주문번호</th>
                        <th>주문일</th>
                        <th>주문자명</th>
                        <th>주문자 연락처</th>
                        <th>상품명</th>
                        <th>옵션명</th>
                        <th>총금액</th>
                        <th>입금자명</th>
                        <th>송장번호</th>
                        <th>배송일자</th>
                        <th>취소일자</th>
                    </tr>
                    </thead>
                    <tbody id="order_list_tbody"></tbody>
                </table>
            </section>
        </div>
    </div>
    <div class="modal fade" id="invoice_no_modal" tabindex="-1" role="dialog" aria-labelledby="invoice_no_modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-center">
                <input type="hidden" id="modal_order_no">
                <input type="hidden" id="modal_order_seq">
                <div class="modal-body" style="margin: 20px;">
                    <input type="text" class="form-control" id="modal_invoice_no" style="width: 200px; margin: auto;">
                    <label id="invoice_no_label" class="mt-2" for="modal_invoice_no">송장번호를 입력하세요.</label>
                </div>
                <div class="text-center pb-5">
                    <a id="save_invoice_no" class="common-button-1">저장</a>
                    <a id="invoice_no_close_modal" class="common-button-1" data-dismiss="modal">닫기</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="order_detail_modal" tabindex="-1" role="dialog" aria-labelledby="order_detail_modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style="margin: 20px; font-size: 13px;">
                    <div><div class="d-inline-block" style="width: 150px; font-weight: 700;">보내는자명</div><div class="d-inline-block" id="modal_send_person_nm"></div></div>
                    <div class="mt-2"><div class="d-inline-block" style="width: 150px; font-weight: 700;">보내는자연락처</div><div class="d-inline-block" id="modal_send_telno"></div></div>
                    <div class="mt-2"><div class="d-inline-block" style="width: 150px; font-weight: 700;">보내는자 우편번호</div><div class="d-inline-block" id="modal_send_zip_no"></div></div>
                    <div class="mt-2"><div class="d-inline-block" style="width: 150px; font-weight: 700;">보내는자 주소</div><div class="d-inline-block" id="modal_send_address_main"></div></div>
                    <div class="mt-2"><div class="d-inline-block" style="width: 150px; font-weight: 700;">보내는자 상세주소</div><div class="d-inline-block" id="modal_send_address_detail"></div></div>
                    <div class="mt-2"><div class="d-inline-block" style="width: 150px; font-weight: 700;">받는자명</div><div class="d-inline-block" id="modal_receive_person_nm"></div></div>
                    <div class="mt-2"><div class="d-inline-block" style="width: 150px; font-weight: 700;">받는자 연락처</div><div class="d-inline-block" id="modal_receive_telno"></div></div>
                    <div class="mt-2"><div class="d-inline-block" style="width: 150px; font-weight: 700;">받는자 우편번호</div><div class="d-inline-block" id="modal_receive_zip_no"></div></div>
                    <div class="mt-2"><div class="d-inline-block" style="width: 150px; font-weight: 700;">받는자 주소</div><div class="d-inline-block" id="modal_receive_address_main"></div></div>
                    <div class="mt-2"><div class="d-inline-block" style="width: 150px; font-weight: 700;">받는자 상세주소</div><div class="d-inline-block" id="modal_receive_address_detail"></div></div>
                    <div class="mt-2"><div class="d-inline-block" style="width: 150px; font-weight: 700;">주문메모</div><div class="d-inline-block" id="modal_order_remarks"></div></div>
                    <div class="mt-2"><div class="d-inline-block" style="width: 150px; font-weight: 700;">입금메모</div><div class="d-inline-block" id="modal_deposit_remarks"></div></div>
                </div>
                <div class="text-center pb-5">
                    <a id="order_detail_close_modal" class="common-button-1" data-dismiss="modal">닫기</a>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="user_no" value="{{userNo}}">
    <input type="hidden" id="admin_yn" value="{{adminYn}}">
    <footer class="page-footer text-center text-md-left stylish-color-dark pt-0">
    </footer>
    <script type="text/javascript" src="/static/lib/mdb/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/mdb.min.js"></script>
    <script type="text/javascript" src="/static/lib/datepicker/datepicker.js"></script>
    <script type="text/javascript" src="/static/lib/datepicker/datepicker.ko-KR.js"></script>
    <script type="text/javascript" src="/static/lib/moment/moment.min.js"></script>
    <script type="text/javascript" src="/static/lib/js-xlsx/xlsx.full.min.js"></script>
    <script type="text/javascript" src="/static/js/common/properties.js"></script>
    <script type="text/javascript" src="/static/js/common/utils.js"></script>
    <script type="text/javascript" src="/static/js/component/header.js"></script>
    <script type="text/javascript" src="/static/js/admin/order_list/order_list.js"></script>
</body>

</html>
