body {
    font-family: 'Noto Sans KR', sans-serif;
}

.select {
    width: 200px;
    height: 30px;
    padding-left: 10px;
    font-size: 18px;
    color: #006fff;
    border: 1px solid #006fff;
    border-radius: 3px;
}

.order-list {
    padding: 15px;
    border: 1px solid #ccc;
    font-size: 13px;
}

.order-info {
    padding: 15px;
    border: 1px solid #ccc;
    font-size: 13px;
}

.additional-info {
    padding: 15px;
    border: 1px solid #ccc;
    font-size: 13px;
}

.order-info-title-text {
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #333;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}

.sender-input {
    display: none;
}