body {
    font-family: 'Noto Sans KR', sans-serif;
}

.select {
    width: 200px;
    height: 30px;
    padding-left: 10px;
    font-size: 18px;
    color: #006fff;
    border: 1px solid #006fff;
    border-radius: 3px;
}

.order-list {
    padding: 15px;
    border: 1px solid #ccc;
    font-size: 13px;
}

.order-info {
    padding: 15px;
    border: 1px solid #ccc;
    font-size: 13px;
}