body {
    font-family: 'Noto Sans KR', sans-serif;
}

.file-upload-wrapper {
    position: relative;
    width: 300px;
}

#item_desc {
    width: 500px;
    height: 100px;
    padding: 10px;
}

#image_div {
    width: 300px;
    height: 200px;
    border: 1px solid gray;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
