<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>제주농장</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Black+Han+Sans|Dokdo|Jua|Kirang+Haerang|Nanum+Pen+Script|Stylish|Sunflower:300|Noto+Sans+KR" rel="stylesheet">
    <link rel="stylesheet" href="/static/lib/fontawesome-pro/css/all.css">
    <link href="/static/lib/mdb/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/mdb/css/mdb.min.css" rel="stylesheet">
    <link href="/static/css/main/main.css" rel="stylesheet">
</head>

<body>
<header>
    <nav class="navbar fixed-top navbar-expand-lg  navbar-light white">
        <div class="container">
            <a class="navbar-brand font-weight-bold" href="/">
                <strong>간드락닷컴</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" href="/cart?productId=1">
                            <i class="fas fa-shopping-cart blue-text"></i>&nbsp;&nbsp;&nbsp;장바구니
                        </a>
                    </li>
                    <li class="nav-item ml-1">
                        <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" href="#">
                            <i class="fas fa-clipboard-list blue-text"></i>&nbsp;&nbsp;&nbsp;주문내역
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" href="#">
                            <i class="fa fa-user blue-text"></i>&nbsp;&nbsp;&nbsp;내정보
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<section>
    <div class="text-center top">
        <div class="menu">
            <div class="menu-1"><a href="#special_price" class="smooth-goto" style="color: #FFFFFF;">특가상품</a></div>
            <div class="menu-2"><a href="#all_product" class="smooth-goto" style="color: #FFFFFF;">전체상품</a></div>
            <div class="menu-3"><a href="#introduction" class="smooth-goto" style="color: #FFFFFF;">제품소개</a></div>
        </div>
        <div class="top-main" style="padding-top: 100px; padding-bottom: 100px;">
            <div class="text-center" style="border-radius: 5px; width: 250px; padding: 15px; margin: auto; margin-bottom: 20px;">
                <p class="h2 top-title" style="left: 3px; top: 5px; position: relative; color: #FFFFFF;">
                    <strong><i class="far fa-store"></i>&nbsp;&nbsp;간드락농원</strong>
                </p>
            </div>
            <div>
                <p class="font-weight-bold mb-5 top-title-desc" style="color: yellow;">제주 간드락의 신선한 과일을 맛보세요!</p>
            </div>
            <div>
                <input class="search-input" placeholder="상품검색">
                <div class="search-icon-div"><i class="far fa-search search-icon"></i></div>
            </div>
            <div style="margin-bottom: 20px; color: #C92800;">
                #천혜향 #한라봉 #카라향
            </div>
            <div>
                <a target="_blank" href="https://m.blog.naver.com/jnopen/221007082812" class="btn btn-danger btn-rounded" rel="nofollow"><i class="fas fa-blog"></i>&nbsp;&nbsp;블로그</a>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row pt-4">
        <div class="col-lg-12">
            <section id="special_price">
                <h4 class="font-weight-bold mt-4 dark-grey-text section-title">
                    <strong>특가 상품</strong>
                </h4>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <div class="tab-content px-0">
                            <div class="tab-pane fade in show active " id="panel5" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-4 col-md-12 mb-4">
                                        <div class="card-outer">
                                            <div class="view overlay">
                                                <img src="http://14.63.168.58:5005/static/data/shopping/천혜향.jpg" style="height: 300px; width: 100%;" class="img-fluid" alt="sample image">
                                                <a>
                                                    <div class="mask rgba-white-slight"></div>
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title mb-1">
                                                    <strong>
                                                        <a href="" class="dark-grey-text">천혜향 2박스</a>
                                                    </strong>
                                                </h5>
                                                <span class="badge badge-danger mb-2">명품과일</span>
                                                <span class="badge badge-success mb-2 ml-2">추천</span>
                                                <!-- Rating -->

                                                <ul class="rating">
                                                    <li>
                                                        <i class="fa fa-star blue-text"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-star blue-text"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-star blue-text"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-star blue-text"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-star blue-text"></i>
                                                    </li>
                                                </ul>

                                                <!--Card footer-->
                                                <div class="card-footer pb-0" style="background: #FFFFFF;">
                                                    <div class="row mb-0">
                                                        <h5 class="mb-0 pb-0 mt-1 font-weight-bold">
                                                                <span class="red-text">
                                                                    <strong>54,000원</strong>
                                                                </span>
                                                            <span class="grey-text">
                                                                    <small>
                                                                        <s>64,000원</s>
                                                                    </small>
                                                            </span>
                                                        </h5>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 mb-4">
                                        <div class="card-outer">
                                            <div class="view overlay">
                                                <img src="http://14.63.168.58:5005/static/data/shopping/황금향.jpg" style="height: 300px; width: 100%;" class="img-fluid" alt="sample image">
                                                <a>
                                                    <div class="mask rgba-white-slight"></div>
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title mb-1">
                                                    <strong>
                                                        <a href="" class="dark-grey-text">황금향 2박스</a>
                                                    </strong>
                                                </h5>
                                                <span class="badge badge-danger mb-2">명품과일</span>
                                                <span class="badge badge-success mb-2 ml-2">추천</span>
                                                <ul class="rating">
                                                    <li>
                                                        <i class="fa fa-star blue-text"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-star blue-text"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-star blue-text"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-star blue-text"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-star blue-text"></i>
                                                    </li>
                                                </ul>
                                                <div class="card-footer pb-0" style="background: #FFFFFF;">
                                                    <div class="row mb-0">
                                                        <h5 class="mb-0 pb-0 mt-1 font-weight-bold">
                                                                <span class="red-text">
                                                                    <strong>25,000원</strong>
                                                                </span>
                                                            <span class="grey-text">
                                                                    <small>
                                                                        <s>40,000원</s>
                                                                    </small>
                                                            </span>
                                                        </h5>
                                                    </div>
                                                </div>

                                            </div>
                                            <!--Card content-->

                                        </div>
                                        <!--Card-->

                                    </div>
                                    <div class="col-lg-4 col-md-6 mb-4">
                                        <div class="card-outer">
                                            <div class="view overlay">
                                                <img src="http://14.63.168.58:5005/static/data/shopping/레드향.jpg" style="height: 300px; width: 100%;" class="img-fluid" alt="sample image">
                                                <a>
                                                    <div class="mask rgba-white-slight"></div>
                                                </a>
                                            </div>
                                            <!--Card image-->

                                            <!--Card content-->
                                            <div class="card-body">
                                                <!--Category & Title-->

                                                <h5 class="card-title mb-1">
                                                    <strong>
                                                        <a href="" class="dark-grey-text">레드향 2박스</a>
                                                    </strong>
                                                </h5>
                                                <span class="badge badge-danger mb-2">명품과일</span>
                                                <span class="badge badge-success mb-2 ml-2">추천</span>
                                                <!-- Rating -->
                                                <ul class="rating">
                                                    <li>
                                                        <i class="fa fa-star blue-text"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-star blue-text"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-star blue-text"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-star blue-text"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-star blue-text"></i>
                                                    </li>
                                                </ul>

                                                <!--Card footer-->
                                                <div class="card-footer pb-0" style="background: #FFFFFF;">
                                                    <div class="row mb-0">
                                                        <h5 class="mb-0 pb-0 mt-1 font-weight-bold">
                                                                <span class="red-text">
                                                                    <strong>20,000원</strong>
                                                                </span>
                                                            <span class="grey-text">
                                                                    <small>
                                                                        <s>30,000원</s>
                                                                    </small>
                                                            </span>
                                                        </h5>
                                                    </div>
                                                </div>

                                            </div>
                                            <!--Card content-->

                                        </div>
                                        <!--Card-->

                                    </div>
                                    <!--Grid column-->

                                </div>
                                <!--Grid row-->
                            </div>
                            <!--/.Panel 1-->
                        </div>

                    </div>

                </div>
                <!--Grid row-->

            </section>
            <!--Section: Bestsellers & offers-->


            <!--Section: product list-->
            <section class="my-5" id="all_product">
                <div class="all-product-menu" style="border-bottom: 1px solid #ddd;">
                    <div class="product-item-active">전체</div>
                    <div class="product-item">한라봉</div>
                    <div class="product-item">천혜향</div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-12 pt-2">
                        <div class="row py-2 mb-4 hoverable align-items-center">
                            <div class="col-6">
                                <a>
                                    <img src="http://14.63.168.58:5005/static/data/shopping/천혜향.jpg" style="height: 150px;" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-6">
                                <a class="pt-5">
                                    <strong>천혜향 1박스</strong>
                                </a>
                                <h6 class="h6-responsive font-weight-bold dark-grey-text">
                                    <strong>32,000원</strong>
                                </h6>
                                <a class="all-product-detail-text3">원산지: 국내산</a>
                            </div>
                        </div>
                        <!-- /.First row -->

                    </div>
                    <!-- /.New Products-->

                    <!-- Top Sellers-->
                    <div class="col-lg-4  col-md-12 pt-2">
                        <!-- First row -->
                        <div class="row py-2 mb-4 hoverable align-items-center">
                            <div class="col-6">
                                <a>
                                    <img src="http://14.63.168.58:5005/static/data/shopping/황금향.jpg" style="height: 150px;" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-6">
                                <!-- Title -->
                                <a>
                                    <strong>황금향 1박스</strong>
                                </a>
                                <!-- Price -->
                                <h6 class="h6-responsive font-weight-bold dark-grey-text">
                                    <strong>15,000원</strong>
                                    <span class="grey-text">
                                        <small>
                                            <s>20,000원</s>
                                        </small>
                                    </span>
                                </h6>
                                <a class="all-product-detail-text3">원산지: 국내산</a>
                            </div>

                        </div>
                        <!-- /.First row -->
                    </div>
                    <!-- /.Top Sellers -->
                    <!-- Random Products-->
                    <div class="col-lg-4 col-md-12 pt-2">
                        <!-- First row -->
                        <div class="row py-2 mb-4 hoverable align-items-center">

                            <div class="col-6">
                                <a>
                                    <img src="http://14.63.168.58:5005/static/data/shopping/레드향.jpg" style="height: 150px;" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-6">

                                <!-- Title -->
                                <a>
                                    <strong>레드향 1박스</strong>
                                </a>

                                <!-- Price -->
                                <h6 class="h6-responsive font-weight-bold dark-grey-text">
                                    <strong>12,000원</strong>
                                    <span class="grey-text">
                                            <small>
                                                <s>15,000원</s>
                                            </small>
                                        </span>
                                </h6>
                                <a class="all-product-detail-text3">원산지: 국내산</a>

                            </div>

                        </div>
                        <!-- /.First row -->

                    </div>
                    <!-- /.Random Products -->
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-12 pt-2">
                        <div class="row py-2 mb-4 hoverable align-items-center each-item">
                            <div class="col-6">
                                <a>
                                    <img src="http://14.63.168.58:5005/static/data/shopping/한라봉.jpg" style="height: 150px;" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-6">

                                <!-- Title -->
                                <a class="pt-5">
                                    <strong>한라봉 1박스</strong>
                                </a>
                                <!-- Price -->
                                <h6 class="h6-responsive font-weight-bold dark-grey-text">
                                    <strong>18,000원</strong>
                                </h6>
                                <a class="all-product-detail-text3">원산지: 국내산</a>

                            </div>

                        </div>
                        <!-- /.First row -->

                    </div>
                    <!-- /.New Products-->

                    <!-- Top Sellers-->
                    <div class="col-lg-4  col-md-12 pt-2">
                        <!-- First row -->
                        <div class="row py-2 mb-4 hoverable align-items-center">
                            <div class="col-6">
                                <a>
                                    <img src="http://14.63.168.58:5005/static/data/shopping/키위.jpg" style="height: 150px;" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-6">
                                <!-- Title -->
                                <a>
                                    <strong>키위 5kg</strong>
                                </a>
                                <!-- Price -->
                                <h6 class="h6-responsive font-weight-bold dark-grey-text">
                                    <strong>13,900원</strong>
                                    <span class="grey-text">
                                            <small>
                                                <s>20,000원</s>
                                            </small>
                                        </span>
                                </h6>
                                <a class="all-product-detail-text3">원산지: 국내산</a>

                            </div>

                        </div>
                        <!-- /.First row -->
                    </div>
                    <!-- /.Top Sellers -->
                    <!-- Random Products-->
                    <div class="col-lg-4 col-md-12 pt-2">
                        <!-- First row -->
                        <div class="row py-2 mb-4 hoverable align-items-center">

                            <div class="col-6">
                                <a>
                                    <img src="http://14.63.168.58:5005/static/data/shopping/망고.jpg" style="height: 150px;" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-6">

                                <!-- Title -->
                                <a>
                                    <strong>망고 5kg</strong>
                                </a>

                                <!-- Price -->
                                <h6 class="h6-responsive font-weight-bold dark-grey-text">
                                    <strong>45,000원</strong>
                                    <span class="grey-text">
                                            <small>
                                                <s>50,000원</s>
                                            </small>
                                        </span>
                                </h6>
                                <a class="all-product-detail-text3">원산지: 국내산</a>

                            </div>

                        </div>
                        <!-- /.First row -->

                    </div>
                    <!-- /.Random Products -->
                </div>
                <hr>
            </section>
            <!--/Section: product list-->

            <section id="introduction" class="my-5 text-center">
                <h4 class="font-weight-bold my-5 red-text">
                    <strong>제품소개</strong>
                </h4>
                <img width="100%" src="http://14.63.168.58:5005/static/data/shopping/introduce.jpg">
            </section>
        </div>
        <!-- /.Content -->
    </div>
    <!-- /Grid row -->
</div>
<!-- /.Main Container -->

<footer class="page-footer text-center text-md-left stylish-color-dark pt-0">
    <div class="container py-2 mt-5 mb-4 text-center">
            <div class="mt-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>회사소개</strong>
                </h6>
                <hr class="blue mb-4 mt-0 d-inline-block" style="width: 60px;">
                <p>신선한 과일만을 취급하는 제주농장 입니다.</p>
            </div>
            <div class="mt-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Contact</strong>
                </h6>
                <hr class="blue mb-4 mt-0 d-inline-block" style="width: 60px;">
                <p>
                    <i class="fa fa-home mr-3"></i>서울 중구 운니동</p>
                <p>
                    <i class="fa fa-envelope mr-3"></i>info@example.com</p>
                <p>
                    <i class="fa fa-phone mr-3"></i>02-234-5672</p>
                <p>
                    <i class="fa fa-print mr-3"></i> 010-2342-5671</p>
            </div>
        </div>
    </div>
    <!--/.Footer Links-->

    <!-- Copyright-->
    <div class="footer-copyright py-3 text-center">
        <div class="container-fluid">
            © 2018 Copyright: <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> 제주농장 </a>
        </div>
    </div>
    <!--/.Copyright -->

</footer>
<!--/.Footer-->


<!-- SCRIPTS -->

<script type="text/javascript" src="/static/lib/mdb/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/lib/mdb/js/popper.min.js"></script>
<script type="text/javascript" src="/static/lib/mdb/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/lib/mdb/js/mdb.min.js"></script>
<script type="text/javascript" src="/static/js/main/main.js"></script>
<script type="text/javascript">
    /* WOW.js init */
    new WOW().init();

    // Tooltips Initialization
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<script>
    // Material Select Initialization
    $(document).ready(function () {
        $('.mdb-select').material_select();
    });
</script>
<script>
    // SideNav Initialization
    $(".button-collapse").sideNav();
</script>
</body>

</html>
