<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>간드락닷컴</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Black+Han+Sans|Dokdo|Jua|Kirang+Haerang|Nanum+Pen+Script|Stylish|Sunflower:300|Noto+Sans+KR" rel="stylesheet">
    <link rel="stylesheet" href="/static/lib/fontawesome-pro/css/all.css">
    <link href="/static/lib/mdb/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/mdb/css/mdb.min.css" rel="stylesheet">
    <link href="/static/lib/swiper/swiper.css" rel="stylesheet">
    <link href="/static/css/common/common.css" rel="stylesheet">
    <link href="/static/css/main/main-mobile.css" rel="stylesheet">
</head>
<body>
    <header></header>
    <section>
        <div class="text-center top">
            <div><img id="title_logo" src="/static/res/gandeurak_logo.jpg" width="150px;"></div>
            <div class="menu">
                <div class="menu-1"><a href="#special_price" class="smooth-goto" style="color: #333;">추천상품</a></div>
                <div class="divide-vertical">ㅣ</div>
                <div class="menu-2"><a href="#all_product" class="smooth-goto" style="color: #333;">전체상품</a></div>
                <div class="divide-vertical">ㅣ</div>
                <div class="menu-3"><a href="#how_to_keep" class="smooth-goto" style="color: #333">보관방법</a></div>
            </div>
            <div class="swiper-container top-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide top-main-1 text-left" style="padding-top: 20px; padding-bottom: 20px;">
                        <div style="font-size: 14px; margin-top: 100px; margin-left: 10%;">
                            <span>맛있는 한라봉</span>
                        </div>
                        <div style="font-size: 12px; font-weight: 700; margin-top: 2px; margin-left: 10%;">
                            <span>제주품은 간드락 천혜향</span>
                        </div>
                        <div style="font-size: 9px; font-weight: 700; margin-top: 30px; margin-left: 10%;">
                            <span>그느낌 그대로 전해드립니다.</span>
                        </div>
                    </div>
                    <div class="swiper-slide top-main-2 text-left" style="padding-top: 20px; padding-bottom: 20px;">
                        <div style="font-size: 14px; margin-top: 100px; margin-left: 7%;">
                            <span>맛있는 한라봉</span>
                        </div>
                        <div style="font-size: 12px; font-weight: 700; margin-top: 2px; margin-left: 7%;">
                            <span>제주품은 간드락 천혜향</span>
                        </div>
                        <div style="font-size: 9px; font-weight: 700; margin-top: 30px; margin-left: 7%;">
                            <span>그느낌 그대로 전해드립니다.</span>
                        </div>
                    </div>
                    <div class="swiper-slide top-main-3 text-left" style="padding-top: 100px; padding-bottom: 100px; margin: auto;"></div>
                </div>
                <div class="swiper-pagination top-swiper"></div>
                <div class="swiper-button-prev top-swiper"><i class="far fa-angle-left"></i></div>
                <div class="swiper-button-next top-swiper"><i class="far fa-angle-right"></i></div>
            </div>
        </div>
    </section>
    <div id="special_price" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <section class="mt-5">
                        <span style="font-size: 16px;" class="font-weight-bold mt-4 section-title">
                            <strong>추천 상품</strong>
                        </span>
                        <hr>
                        <div class="swiper-container rcm-swiper">
                            <div id="recommend_product" class="swiper-wrapper pt-3">
                            </div>
                            <div class="swiper-pagination rcm-swiper"></div>
                            <div class="swiper-button-prev rcm-swiper"><i class="far fa-angle-left"></i></div>
                            <div class="swiper-button-next rcm-swiper"><i class="far fa-angle-right"></i></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <section class="mt-5" id="all_product">
                <span style="font-size: 16px;" class="font-weight-bold mt-4 section-title">
                    <strong>전체 상품</strong>
                </span>
                <hr>
                <div id="all_item_list" class="row">
                </div>
            </section>
        </div>
    </div>
    <input type="hidden" id="user_no" value="{{userNo}}">
    <input type="hidden" id="admin_yn" value="{{adminYn}}">
    <footer style="font-size: 13px;" class="page-footer text-center text-md-left stylish-color-dark pt-0"></footer>
    <script type="text/javascript" src="/static/lib/mdb/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/component/header-mobile.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/mdb.min.js"></script>
    <script type="text/javascript" src="/static/lib/swiper/swiper.js"></script>
    <script type="text/javascript" src="/static/js/common/properties.js"></script>
    <script type="text/javascript" src="/static/js/common/utils.js"></script>
    <script type="text/javascript" src="/static/js/common/nav.js"></script>
    <script type="text/javascript" src="/static/js/component/footer.js"></script>
    <script type="text/javascript" src="/static/js/main/main-mobile.js"></script>
</body>

</html>
