<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>상품등록</title>
  <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Black+Han+Sans|Dokdo|Jua|Kirang+Haerang|Nanum+Pen+Script|Stylish|Sunflower:300|Noto+Sans+KR" rel="stylesheet">
  <link rel="stylesheet" href="/static/lib/fontawesome-pro/css/all.css">
  <link href="/static/lib/mdb/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/lib/mdb/css/mdb.min.css" rel="stylesheet">
  <link href="/static/lib/mdb/css/addons/mdb-file-upload.css" rel="stylesheet">
  <link href="/static/css/admin/productNew.css" rel="stylesheet">
</head>

<body class="cart-v1 hidden-sn white-skin animated">
  <div class="top">
    <i id="go_back" class="fas fa-arrow-left" style="color: white;"></i>
    <div style="margin: auto; color: white; padding-top: 10px;">
      <p style="font-size: 18px;">상품정보 등록</p>
    </div>
  </div>
  <div class="container">
    <div class="container mt-3">
      <button id="go_list" type="button" class="btn btn-sm btn-secondary product-register-btn" style="margin-left: 0px;">목록으로
        <i class="fa fa-angle-right right"></i>
      </button>
      <hr>
      <div class="mt-2">
        <div class="mb-1" style="font-size: 20px;"><i class="fas fa-image"></i>&nbsp;&nbsp;<a style="color: gray;">이미지</a></div>
        <div id="image_div">
        </div>
        <form class="md-form file-upload-wrapper">
          <div class="file-field">
            <div class="btn btn-primary btn-sm float-left">
              <span>파일선택</span>
              <input type="file" id="item_image">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload your file">
            </div>
          </div>
        </form>
      </div>
      <div>
        <div class="mt-3 d-inline-block">
          <div class="md-form">
            <i class="fas fa-pencil prefix" style="font-size: 25px;"></i>
            <input type="text" class="form-control" id="item_nm_1" style="width: 200px;">
            <label id="item_nm_1_label" for="item_nm_1">상품명1</label>
          </div>
        </div>
        <div class="mt-3 ml-3 d-inline-block">
          <div class="md-form">
            <i class="fas fa-pencil prefix" style="font-size: 25px;"></i>
            <input type="text" class="form-control" id="item_nm_2"  style="width: 200px;" required="true">
            <label id="item_nm_2_label" for="item_nm_2">상품명2</label>
          </div>
        </div>
        <div class="mt-3 ml-3 d-inline-block">
          <div class="md-form">
            <i class="fas fa-won-sign prefix" style="font-size: 25px;"></i>
            <input type="number" class="form-control" id="price" style="width: 200px;">
            <label id="price_label" for="price">가격</label>
          </div>
        </div>
      </div>
      <div>
        <div class="mt-3 d-inline-block">
          <div class="mb-1" style="color: gray;">상품종류</div>
          <div style="width: 200px;">
            <select id="item_kcd">
              <option value="1">한라봉</option>
            </select>
          </div>
        </div>
        <div class="mt-3 ml-3 d-inline-block">
          <div class="mb-1" style="color: gray;">원산지</div>
          <div style="width: 200px;">
            <select id="origin_cd">
              <option value="1">국내산</option>
            </select>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <div id="item_desc_label" style="color: gray;">상품설명</div>
        <div class="md-form mt-2">
          <textarea class="form-control" id="item_desc"></textarea>
        </div>
      </div>
      <button id="product_register_btn" type="button" class="btn btn-sm deep-orange btn-rounded product-register-btn">상품등록
        <i class="fa fa-angle-right right"></i>
      </button>
      <div class="mb-5"></div>
    </div>
  </div>
  <script type="text/javascript" src="/static/lib/mdb/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/static/lib/mdb/js/popper.min.js"></script>
  <script type="text/javascript" src="/static/lib/mdb/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/lib/mdb/js/mdb.min.js"></script>
  <script type="text/javascript" src="/static/lib/mdb/js/addons/mdb-file-upload.js"></script>
  <script type="text/javascript" src="/static/js/common/properties.js"></script>
  <script type="text/javascript" src="/static/js/admin/productNew.js"></script>
</body>

</html>
