<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>상품정보</title>
    <link rel="stylesheet" href="/static/lib/fontawesome-pro/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Black+Han+Sans|Dokdo|Jua|Kirang+Haerang|Nanum+Pen+Script|Stylish|Sunflower:300|Noto+Sans+KR" rel="stylesheet">
    <link href="/static/lib/mdb/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/mdb/css/mdb.min.css" rel="stylesheet">
    <link href="/static/css/common/review.css" rel="stylesheet">
    <link href="/static/css/common/common.css" rel="stylesheet">
    <link href="/static/css/product/product.css" rel="stylesheet">
</head>

<body class="product-v2 hidden-sn white-skin animated">
    <header>
        <nav class="top-nav navbar fixed-top navbar-expand-lg navbar-light white">
            <div class="container">
                <a class="logo-title navbar-brand font-weight-bold" href="/">
                    <strong>간드락닷컴</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item" style="margin-left: 0px;">
                            <a class="nav-link waves-effect waves-light" href="/cart">
                                <i class="far fa-shopping-cart"></i>&nbsp;&nbsp;장바구니
                            </a>
                        </li>
                        <li class="nav-item" style="margin-left: 0px;">
                            <a class="nav-link waves-effect waves-light" href="/user">
                                <i class="far fa-sign-in-alt"></i>&nbsp;&nbsp;로그인
                            </a>
                        </li>
                        <li class="nav-item" style="margin-left: 0px;">
                            <a class="nav-link waves-effect waves-light" href="#">
                                <i class="far fa-user"></i>&nbsp;&nbsp;마이페이지
                            </a>
                        </li>
                        <li class="nav-item" style="margin-left: 0px;">
                            <a class="admin-page nav-link waves-effect waves-light" href="/admin/product_manager">
                                <i class="fab fa-product-hunt"></i>&nbsp;&nbsp;상품관리
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-5 pt-3">

    </div>
    <input type="hidden" id="info_item_price_num">
    <input type="hidden" id="item_no" value="{{itemNo}}">
    <script type="text/javascript" src="/static/lib/mdb/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/mdb.min.js"></script>
    <script type="text/javascript" src="/static/js/common/properties.js"></script>
    <script type="text/javascript" src="/static/js/common/utils.js"></script>
    <script type="text/javascript" src="/static/js/common/review.js"></script>
    <script type="text/javascript" src="/static/js/product/product.js"></script>
</body>

</html>