<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>상품정보</title>
    <link rel="stylesheet" href="/static/lib/fontawesome-pro/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Black+Han+Sans|Dokdo|Jua|Kirang+Haerang|Nanum+Pen+Script|Stylish|Sunflower:300|Noto+Sans+KR" rel="stylesheet">
    <link href="/static/lib/mdb/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/mdb/css/mdb.min.css" rel="stylesheet">
    <link href="/static/css/product/product.css" rel="stylesheet">
</head>

<body class="product-v2 hidden-sn white-skin animated">
    <header>
        <nav class="navbar fixed-top navbar-expand-lg  navbar-light scrolling-navbar white">
            <div class="container">
                <!-- SideNav slide-out button -->
                <a class="navbar-brand font-weight-bold" href="/">
                    <strong>스토어닷컴</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" href="/cart?productId=1">
                                <i class="fas fa-shopping-cart blue-text"></i>&nbsp;&nbsp;&nbsp;장바구니
                            </a>
                        </li>
                        <li class="nav-item ml-1">
                            <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" href="#">
                                <i class="fas fa-clipboard-list blue-text"></i>&nbsp;&nbsp;&nbsp;주문내역
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" href="#">
                                <i class="fa fa-user blue-text"></i>&nbsp;&nbsp;&nbsp;내정보
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-5 pt-3">
        <div id="productDetails" class="pb-5">
            <div class="mt-5 pb-3" style="border: 1px solid #ccc;">
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <div class="row mx-5">
                                <div class="carousel-inner text-center text-md-left" role="listbox">
                                    <div class="carousel-item active pb-5">
                                        <img src="http://14.63.168.58:5005/static/data/shopping/한라봉.jpg" width="400px;" alt="First slide" class="img-fluid">
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-5 mr-3 text-center text-md-left">
                        <h2 class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4">
                            <strong>한라봉 </strong>
                        </h2>
                        <span class="badge badge-danger product mb-4 ml-xl-0 ml-4">인기</span>
                        <span class="badge badge-success product mb-4 ml-2">할인</span>
                        <h3 class="h3-responsive text-center text-md-left mb-4 ml-xl-0 ml-4">
                            <span class="red-text font-weight-bold">
                                <strong>18,000원</strong>
                            </span>
                        </h3>
                        <p class="ml-xl-0 ml-4">신비의 도로 근처의 간드락 제2농원에서 초경재배법으로 하우스에서 정성들여 키운 제주한라봉입니다.
                        </p>
                        <p class="ml-xl-0 ml-4">
                            <strong>수량: </strong>10KG / 30과</p>
                        <p class="ml-xl-0 ml-4">
                            <strong>원산지: </strong>국내산</p>
                        <div class="ml-xl-0 ml-4">
                            <div class="d-inline-block text-center pb-3">
                                <div class="qty-btn"><i class="far fa-minus"></i></div>
                                <input style="position:relative; top: 2px;" type="number" id="1" value="1" min="1" max="2" />
                                <div class="qty-btn"><i class="far fa-plus"></i></div>
                            </div>
                            <div class="mb-3">
                                <button class="btn deep-orange btn-rounded add-cart mt-2" style="margin: 0px;">
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i> 장바구니에 추가</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <script type="text/javascript" src="/static/lib/mdb/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/mdb.min.js"></script>
    <script type="text/javascript" src="/static/js/product/product.js"></script>
</body>

</html>