<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>상품정보</title>
    <link rel="stylesheet" href="/static/lib/fontawesome-pro/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Black+Han+Sans|Dokdo|Jua|Kirang+Haerang|Nanum+Pen+Script|Stylish|Sunflower:300|Noto+Sans+KR" rel="stylesheet">
    <link href="/static/lib/mdb/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/mdb/css/mdb.min.css" rel="stylesheet">
    <link href="/static/lib/swiper/swiper.css" rel="stylesheet">
    <link href="/static/css/common/review.css" rel="stylesheet">
    <link href="/static/css/common/common.css" rel="stylesheet">
    <link href="/static/css/product/product.css" rel="stylesheet">
</head>

<body>
    <header></header>
    <div class="container mt-5 pt-3">
        <div id="product_detail" class="mb-3">
            <div class="mt-5 pb-3">
                <div class="row mt-5">
                    <div class="col-lg-5">
                        <div class="row mx-5">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active pb-5 product-image">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper"></div>
                                        <div class="swiper-pagination"></div>
                                        <div class="swiper-button-prev"><i class="far fa-angle-left"></i></div>
                                        <div class="swiper-button-next"><i class="far fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 mb-3 text-md-left">
                        <span style="font-size: 18px; color: #333;" class="text-md-left product-name font-weight-bold mb-1 ml-xl-0 ml-4">
                            <strong id="info_item_nm"></strong>
                        </span>
                        <div class="mb-1">
                            <span style="font-size: 16px;" class="text-md-left ml-xl-0 ml-4">
                                <span class="red-text font-weight-bold">
                                    <strong id="info_item_price"></strong>
                                </span>
                            </span>
                        </div>
                        <div class="mb-3">
                            <span style="font-size: 13px;" class="text-md-left ml-xl-0 ml-4">
                                <span>
                                    배송비: <strong id="info_shipping_fee"></strong>
                                </span>
                            </span>
                        </div>
                        <p style="font-size:13px;" class="ml-xl-0 ml-4 mt-3 mb-3" id="info_item_desc"></p>
                        <div style="width: 100px; font-size: 13px;" class="ml-xl-0 ml-4 mt-3 mb-3">
                            <select id="item_option" class="browser-default common-select" style="border: 2px solid #333; background: #FFFFFF;"></select>
                        </div>
                        <p style="font-size: 13px;" class="ml-xl-0 ml-4">
                            <strong>원산지: </strong>국내산
                        </p>
                        <div class="ml-xl-0 ml-4">
                            <div class="d-inline-block">
                                <div class="qty-minus-btn mr-1 text-center"><i class="far fa-minus"></i></div>
                                <input style="width: 60px; padding: 5px; font-size: 12px; text-align: center; position: relative; top: 2px;" type="number" class="qty" id="qty" value="1"/>
                                <div class="qty-plus-btn ml-1 text-center"><i class="far fa-plus"></i></div>
                            </div>
                            <div class="mt-4 mb-2">
                                <button disabled="true" id="order_now" class="btn btn-sm btn-secondary btn-rounded order-now mt-2" style="margin: 0px;">
                                    <i class="far fa-credit-card" aria-hidden="true"></i>&nbsp;&nbsp;바로주문</button>
                                <button disabled="true" id="add_cart" data-dismiss="toast" class="ml-2 btn btn-sm deep-orange btn-rounded add-cart mt-2" style="margin: 0px;">
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>&nbsp;&nbsp;장바구니에 추가</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 90%; margin: auto;">
            <div class="pl-5" style="border-top: 2px solid #ccc; border-bottom: 1px solid #ccc;">
                <div id="product_review" class="d-inline-block" style="padding: 10px;">
                    <a>제품후기</a>
                </div>
                <div class="d-inline-block ml-5 mr-5" style="color: gray;">
                    <span>ㅣ</span>
                </div>
                <div id="qna" class="d-inline-block" style="padding: 10px;">
                    <a>Q&A</a>
                </div>
                <hr id="menu_selected" style="margin-top: 5px;">
            </div>
            <div class="mt-3 text-center">
                <table id="qna_list" class="table" style="display: none; border-bottom: 1px solid #ddd;">
                    <thead>
                    <tr>
                        <th>제목</th>
                        <th>작성일</th>
                    </tr>
                    </thead>
                    <tbody id="qna_list_tbody"></tbody>
                </table>
                <div class="mt-4 mb-4"><a id="write_qna" class="common-button-1" style="display: none;">질문등록</a></div>
                <table id="review_list" class="table" style="border-bottom: 1px solid #ddd;">
                    <thead>
                        <tr>
                            <th>제목</th>
                            <th>작성일</th>
                        </tr>
                    </thead>
                    <tbody id="review_list_tbody"></tbody>
                </table>
            </div>
            <div id="review_pagination" class="text-center mb-5">
                <div class="review-pagination"></div>
            </div>
            <div id="qna_pagination" class="text-center mb-5" style="display: none;">
                <div class="qna-pagination"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="qna_modal" tabindex="-1" role="dialog" aria-labelledby="qna_modal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <input type="hidden" id="item_no_modal">
                <div class="modal-body">
                    <div style="border-bottom: 1px solid #333; font-weight: 700;">
                        <span>Q&A 질문작성</span>
                    </div>
                    <hr>
                    <div>
                        <span>제목</span>
                    </div>
                    <input id="qna_subject_modal" class="mt-2" type="text" style="width: 100%;">
                    <hr>
                    <div>
                        <span>내용</span>
                    </div>
                    <textarea id="qna_content_modal" class="mt-2" style="width: 100%; height: 150px;"></textarea>
                </div>
                <div class="modal-footer">
                    <a id="write_qna_btn" class="common-button-1">작성</a>
                    <a id="close_modal" class="common-button-1" data-dismiss="modal">닫기</a>
                </div>
            </div>
        </div>
    </div>
    <footer style="font-size: 13px;" class="page-footer text-center text-md-left stylish-color-dark pt-0"></footer>
    <input type="hidden" id="info_item_price_num">
    <input type="hidden" id="info_shipping_fee_num">
    <input type="hidden" id="info_option_no">
    <input type="hidden" id="info_option_nm">
    <input type="hidden" id="keeping_method">
    <input type="hidden" id="damage_remarks">
    <input type="hidden" id="item_no" value="{{itemNo}}">
    <input type="hidden" id="user_no" value="{{userNo}}">
    <input type="hidden" id="admin_yn" value="{{adminYn}}">
    <script type="text/javascript" src="/static/lib/mdb/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/mdb.min.js"></script>
    <script type="text/javascript" src="/static/lib/swiper/swiper.js"></script>
    <script type="text/javascript" src="/static/js/common/properties.js"></script>
    <script type="text/javascript" src="/static/js/common/utils.js"></script>
    <script type="text/javascript" src="/static/js/component/review.js"></script>
    <script type="text/javascript" src="/static/js/component/qna.js"></script>
    <script type="text/javascript" src="/static/js/component/header.js"></script>
    <script type="text/javascript" src="/static/js/component/footer.js"></script>
    <script type="text/javascript" src="/static/js/product/product.js"></script>
</body>

</html>