.each-address {

}

.each-address:hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700;
}

.each-address td:hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700;
}

.active-page {
    text-decoration: underline;
    text-weight: 700;
}