.top-nav {
    opacity: 0.8;
    font-size: 13px;
}

.logo-title {
    font-family: 'Sunflower', sans-serif;
}

.review-pagination {
    display: inline-block;
}

.review-pagination a {
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.review-pagination a.active {
    background-color: gray;
    color: white;
    border: 1px solid gray;
}

.review-pagination a:hover:not(.active) {
    background-color: #ddd;
}

.qna-pagination {
    display: inline-block;
}

.qna-pagination a {
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.qna-pagination a.active {
    background-color: gray;
    color: white;
    border: 1px solid gray;
}
.qna-pagination a:hover:not(.active) {
    background-color: #ddd;
}

.common-button-1 {
    font-size: 13px;
    border: 1px solid #333;
    padding: 4px 15px 4px 15px;
    border-radius: 5px;
    color: #333;
}

.common-button-1:hover {
    background: #333;
    color: #FFFFFF !important;
}
