<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>알림마당</title>
    <link rel="stylesheet" href="/static/lib/fontawesome-pro/css/all.css">
    <link href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" rel="stylesheet">
    <link href="/static/css/common/base.css" rel="stylesheet">
    <link href="/static/css/board/notice/notice.css" rel="stylesheet">
</head>

<body>
    <div id="notice_detail_app" class="nt" v-cloak>
        <app-header :user-no="userNo" :admin-yn="adminYn"></app-header>

        <div class="nt-shell nt-shell-narrow">
            <button type="button" id="go_main_btn" class="nt-back" @click="goList">
                <i class="far fa-angle-left"></i> 목록으로
            </button>

            <p v-if="loading" class="nt-empty">불러오는 중...</p>
            <p v-else-if="!notice" class="nt-empty">존재하지 않는 게시글입니다.</p>

            <article v-else class="nt-article">
                <h1 id="notice_title" class="nt-article-title">[[ notice.noticeTitle ]]</h1>
                <div class="nt-article-meta">
                    <span>[[ notice.noticeDate ]]</span>
                    <button type="button" class="nt-row-edit" v-if="isAdmin" @click="edit">수정</button>
                </div>
                <div id="notice_content" class="nt-article-body">[[ notice.noticeContent ]]</div>
            </article>
        </div>

        <app-footer></app-footer>
    </div>

    <input type="hidden" id="user_no" value="{{userNo}}">
    <input type="hidden" id="admin_yn" value="{{adminYn}}">
    <input type="hidden" id="notice_no" value="{{noticeNo}}">

    <script src="https://cdn.jsdelivr.net/npm/vue@3.4.21/dist/vue.global.prod.js"></script>
    <script src="/static/js/common/utils.js"></script>
    <script src="/static/js/component/vue-layout.js"></script>
    <script src="/static/js/board/notice/notice_detail.js"></script>
</body>

</html>
