<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>메인</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Black+Han+Sans|Dokdo|Jua|Kirang+Haerang|Nanum+Pen+Script|Stylish|Sunflower:300|Noto+Sans+KR" rel="stylesheet">
    <link rel="stylesheet" href="/static/lib/fontawesome-pro/css/all.css">
    <link href="/static/lib/mdb/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/mdb/css/mdb.min.css" rel="stylesheet">
    <link href="/static/css/user/sign_up.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="mt-5 screen-ratio" style="padding-left: 5px; border-left: 5px solid #333;">회원가입</div>
        <div class="mt-3 mb-3 pb-2 screen-ratio" style="background: #FFFFFF; border: 1px solid #ccc;">
            <div class="screen-ratio-inner">
                <div class="mt-3 ml-4">
                    <div class="md-form">
                        <i class="fas fa-mobile-alt prefix" style="font-size: 25px;"></i>
                        <input type="number" class="form-control" id="telno" style="width: 200px;">
                        <label for="telno">휴대폰번호(-제외)</label>
                    </div>
                </div>
                <div class="mt-3 ml-4">
                    <div class="md-form">
                        <i class="fas fa-key prefix" style="font-size: 25px;"></i>
                        <input type="password" class="form-control" id="password" style="width: 200px;">
                        <label for="password">비밀번호</label>
                    </div>
                </div>
                <div class="mt-3 ml-4">
                    <div class="md-form">
                        <i class="fas fa-pencil prefix" style="font-size: 25px;"></i>
                        <input type="text" class="form-control" id="user_nm"  style="width: 200px;">
                        <label for="user_nm">이름</label>
                    </div>
                </div>
                <div class="mt-3 ml-4">
                    <i class="fas fa-user mr-3" style="font-size: 25px;"></i>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="gender_male" name="gender_radio">
                        <label class="form-check-label" for="gender_male">남</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="gender_female" name="gender_radio">
                        <label class="form-check-label" for="gender_female">여</label>
                    </div>
                </div>
                <div class="mt-3 ml-4">
                    <div class="md-form" style="width: 240px;">
                        <i class="far fa-birthday-cake prefix" style="font-size: 25px;"></i>
                        <input placeholder="생년월일" type="text" id="date_of_birth" class="form-control datepicker">
                    </div>
                </div>
            </div>
            <div class="text-center mt-4 mb-3" style="font-size: 15px; background: #EAEAEA;">주소</div>
            <div class="screen-ratio-inner">
                <div class="pt-2 ml-4 pb-2">
                    <div>
                        <div class="d-inline-block">
                            <input type="text" style="width: 120px;" class="form-control" id="address1" style="width: 200px;">
                            <label for="address1">시/도</label>
                        </div>
                        <div class="d-inline-block ml-2">
                            <input type="text" style="width: 120px;" class="form-control" id="address2" style="width: 200px;">
                            <label for="address2">시/군/구</label>
                        </div>
                    </div>
                    <div>
                        <div class="d-inline-block">
                            <input type="text" style="width: 120px;" class="form-control" id="address3" style="width: 200px;">
                            <label for="address3">동/면/읍</label>
                        </div>
                    </div>
                    <div class="d-inline-block">
                        <input type="text" style="width:250px;" class="form-control" id="address4" style="width: 200px;">
                        <label for="address4">상세주소</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="screen-ratio">
            <button id="go_signing_up_btn" type="button" class="btn btn-sm deep-orange btn-rounded">회원가입
                <i class="fa fa-angle-right right"></i>
            </button>
        </div>

    </div>
    <script type="text/javascript" src="/static/lib/mdb/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/mdb.min.js"></script>
    <script type="text/javascript" src="/static/js/common/datepicker.js"></script>
    <script type="text/javascript" src="/static/js/common/properties.js"></script>
    <script type="text/javascript" src="/static/js/user/sign_up.js"></script>
</body>

</html>