<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>주문내역</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Black+Han+Sans|Dokdo|Jua|Kirang+Haerang|Nanum+Pen+Script|Stylish|Sunflower:300|Noto+Sans+KR" rel="stylesheet">
    <link rel="stylesheet" href="/static/lib/fontawesome-pro/css/all.css">
    <link href="/static/lib/mdb/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/mdb/css/mdb.min.css" rel="stylesheet">
    <link href="/static/lib/datepicker/datepicker.css" rel="stylesheet">
    <link href="/static/css/common/common.css" rel="stylesheet">
    <link href="/static/css/admin/user_manager/user_manager.css" rel="stylesheet">
</head>

<body>
    <header></header>
    <div class="mt-5" style="width: 80%; margin: auto;">
        <div class="ml-3 mr-3">
            <div class="mt-5 d-inline-block" style="width: 100px; font-size: 20px; border-left: 5px solid #333; padding-left: 10px;">회원목록</div>
            <hr>
            <section class="section mt-3 mb-5 pb-5">
                <table id="user_list" class="table table-bordered text-center">
                    <thead>
                    <tr>
                        <th>회원명</th>
                        <th>휴대폰번호</th>
                        <th>매니저명</th>
                        <th>매니저휴대폰번호</th>
                        <th>매니저지정</th>
                    </tr>
                    </thead>
                    <tbody id="user_list_tbody"></tbody>
                </table>
            </section>
        </div>
    </div>
    <div class="modal fade" id="manager_modal" tabindex="-1" role="dialog" aria-labelledby="manager_modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-center">
                <input type="hidden" id="modal_user_no">
                <div class="modal-body" style="margin: 20px;">
                    <input type="text" class="form-control" id="modal_manager_telno" style="width: 200px; margin: auto;">
                    <label id="manager_telno_label" class="mt-2" for="modal_manager_telno">매니저 휴대폰번호를 입력하세요.(-제외)</label>
                </div>
                <div class="text-center pb-5">
                    <a id="update_manager_no" class="common-button-1">저장</a>
                    <a id="manager_close_modal" class="common-button-1" data-dismiss="modal">닫기</a>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="user_no" value="{{userNo}}">
    <input type="hidden" id="admin_yn" value="{{adminYn}}">
    <footer class="page-footer text-center text-md-left stylish-color-dark pt-0">
    </footer>
    <script type="text/javascript" src="/static/lib/mdb/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/lib/mdb/js/mdb.min.js"></script>
    <script type="text/javascript" src="/static/js/common/properties.js"></script>
    <script type="text/javascript" src="/static/js/common/utils.js"></script>
    <script type="text/javascript" src="/static/js/component/header.js"></script>
    <script type="text/javascript" src="/static/js/admin/user_manager/user_manager.js"></script>
</body>

</html>
